// main: ../admin.scss

html, body {
    height:100%;
}

body {
    padding-top:$header-height-mobile;

    header {
        width:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:3;
        height:$header-height-mobile;
        @include flex;

        > label:first-child {
            display:block;
            order: -1;
            width:$header-height-mobile;
            padding:floor(($header-height-mobile - ($grid * 2)) / 2) 0;
            text-align:center;
            cursor:pointer;
        }

        > nav {
            height:$header-height-mobile;
            flex:1;
            @include flex;

            > .-logo {
                display:inline-block;
                margin-right: auto;
                padding:0 $grid-mobile;
                order: -1;
                line-height:$header-height-mobile - 3;
            }

            > ul {
                @include flex;

                .fa, .icon {
                    width:($grid-mobile * 2);
                    height:($grid-mobile * 2);
                    text-align:center;
                    line-height:($grid-mobile * 2);
                    font-size:floor(($grid * 2) - ($grid-mobile / 3));
                }

                > li {
                    display:inline-block;

                    > a {
                        display:inline-block;
                        line-height:$header-height-mobile - 3;
                        padding:0 $grid-mobile;
                    }
                }
            }
        }
    }

    // sidebar
    > main > aside {
        $calc:($grid-mobile * 6 - 4);
        width: calc(100% - #{$calc});
        max-width: $sidebar-width-mobile;
        min-width:200px;
        position:fixed;
        left: 0;
        top:0;
        bottom:0;
        z-index:5;
        overflow-x: hidden;
        will-change: transform;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition:transform $sidebar-speed cubic-bezier(0,0,0.2,1);
        transition:transform $sidebar-speed cubic-bezier(0,0,0.2,1);
    }

    // sidebar toggle
    > input[type="checkbox"]:first-child {
        position:absolute;
        bottom:100%;
        right:100%;
        visibility:hidden;

        // backdrop
        + label {
            display:block;
            width:0;
            height:100%;
            position:fixed;
            top:0;
            left:0;
            z-index:4;
            opacity:0;
            background:$sidebar-backdrop-color;
            animation: sidebar-backdrop-hide $sidebar-backdrop-speed linear;
            pointer-events:none;

            &:after {
                display:block;
                content:'';
                width:100%;
                height:100%;
                position:fixed;
                top:0;
                left:0;
                background:#fff;
                animation: sidebar-backdrop-init $sidebar-backdrop-speed linear;
                animation-fill-mode: forwards;
            }
        }

        &:checked {
            + label{
                animation: sidebar-backdrop-show $sidebar-backdrop-speed linear;
                animation-fill-mode: forwards;
                pointer-events:auto;

                &:after {
                    width:0;
                    height:0;
                    visibility:hidden;
                }
            }

            ~ main > aside:first-of-type {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                -webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2),0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12);
                box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2),0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12);
            }
        }

        @keyframes sidebar-backdrop-hide {
          0% { width:100%; opacity:$sidebar-backdrop-opacity; }
          99% { width:100%; opacity:.0; }
          100% { width:0; opacity:0; }
        }

        @keyframes sidebar-backdrop-show {
          0% { width:100%; opacity:0; }
          100% { width:100%; opacity:$sidebar-backdrop-opacity; }
        }

        @keyframes sidebar-backdrop-init {
            0% { width:100%; height:100%; }
            99% { width:100%; height:100%; }
            100% { width:0; height:0; }
        }
    }

    @include style-tablet {
        padding-top:$header-height-desktop;

        > header {
            height:$header-height-desktop;

            > label:first-child {
                width:$header-height-desktop;
                padding:floor(($header-height-desktop - ($grid * 2)) / 2) 0;
            }

            > nav {
                height:$header-height-desktop;

                > .-logo {
                    padding:0 $grid;
                    line-height:$header-height-desktop - 3;
                }

                > ul {
                    .fa, .icon {
                        width:($grid * 2);
                        height:($grid * 2);
                        line-height:($grid * 2);
                        font-size:floor(($grid * 2) - ($grid / 3));
                    }

                    > li {
                        > a {
                            line-height:$header-height-desktop - 3;
                            padding:0 $grid;
                        }
                    }
                }
            }
        }
    }

    @include style-desktop {


        > header {
            > label:first-child {
                display:none;
            }
        }

        > main {
            min-height:100%;
            @include flex(flex, row, stretch);

            > article {
                flex:1;
            }

            > aside {
                width: $sidebar-width-desktop;
                max-width: 100%;
                min-width:0;
                position:relative;
                z-index:2;
                -webkit-transform: none;
                transform: none;
                -webkit-transition:none 0 ease;
                transition:none 0 ease;
                order:-1;

                > nav {
                    width:100%;
                    position:absolute;
                    top:0;
                    left:0;
                }
            }
        }
    }
}
