// main: ../admin.scss

// Media query


@mixin style-only-mobile {
    @media screen and (max-width: $screen-mobile-max) {
        @content;
    }
}

@mixin style-only-tablet {
    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        @content;
    }
}

@mixin style-only-desktop {
    @media (min-width: $screen-desktop-min) and (max-width: $screen-desktop-max) {
        @content;
    }
}

@mixin style-only-huge {
    @media (min-width: $screen-huge-min) {
        @content;
    }
}

@mixin style-mobile {
    @media screen and (max-width: $screen-mobile-max) {
        @content;
    }
}

@mixin style-tablet {
    @media (min-width: $screen-tablet-min) {
        @content;
    }
}

@mixin style-desktop {
    @media (min-width: $screen-desktop-min) {
        @content;
    }
}

@mixin style-huge {
    @media (min-width: $screen-huge-min) {
        @content;
    }
}

// Element selectors
@mixin style-header {
    body > header {
        @content;
    }
}

@mixin style-footer {
    body > main > article > footer {
        @content;
    }
}

@mixin style-main {
    body > main > article > section {
        @content;
    }
}

@mixin style-sidebar {
    body > main > aside {
        @content;
    }
}



@mixin flex($display:flex, $direction: row, $align: flex-start) {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-#{$display};
    display: -ms-flexbox;
    display: $display;
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
    -webkit-align-items: $align;
    align-items: $align;
}
