// main: ../admin.scss

$ns: 'admin';

$grid:12px;
$grid-mobile:$grid - 2;


$screen-mobile-min:480px !default;
$screen-tablet-min:600px !default;
$screen-desktop-min:960px !default;
$screen-huge-min:1280px !default;
$screen-mobile-max:($screen-tablet-min - 1) !default;
$screen-tablet-max:($screen-desktop-min - 1) !default;
$screen-huge-max:($screen-desktop-min - 1) !default;

$header-height-desktop:($grid * 5);
$header-height-mobile:($grid-mobile * 5);

$sidebar-width-desktop:250px !default;
$sidebar-width-mobile:320px !default;
