// main: ../admin.scss

$ns: 'admin';

$sidebar-xs-width:70vw !default;
$sidebar-sm-width:25% !default;
$sidebar-md-width:300px !default;
$sidebar-toggle-speed:.3s !default;

$subbar-md-width:200px !default;
