// compileCompressed: ../../css/$1.min.css, compileExpanded: ../../css/$1.css, sourceMap: true

@import 'modules/variables';
@import 'modules/mixins';

// @import "modules/reset";
// @import 'modules/layout';
// @import 'modules/sidebar';
// @import 'themes/default';

body, .ui.menu, h1, h2, h3, h4, h5, .ui.form input, .ui.form textarea, .ui.form select,  .ui.button {
    font-family: $font-family;
}

.ui.accordion.menu .item .title {
    >.dropdown.icon {
        margin-top:0;
    }

    // @see: https://github.com/Semantic-Org/Semantic-UI/blob/42e41c2699691ff59c148a41a326a9b874a0f08e/dist/components/menu.css#L93
    + .content {
        // margin-left:-1.14285714em;
        margin-right:-1.14285714em;
        margin-bottom:-0.92857143em;
    }
}

.ui.inverted.accordion .title.active {
    color:rgba(255,255,255,.6);
}

@include style-header {
    height:$header-height;
}

@include style-main {
    padding-top: $header-height;
}

@include style-content {
    padding:$content-padding;

    .full-width {
        padding:$content-padding;
        margin-left:-$content-padding !important;
        margin-right:-$content-padding !important;
    }
}

@include style-tablet {

    @include style-header {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index:102;

        .sidebar-toggle {
            display:none;
        }
    }

    @include style-sidebar {
        padding-top:$header-height - 1;
        visibility: visible;
        box-shadow: 0 0 20px rgba(34,36,38,.15);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        z-index:101;
        -webkit-transition: none;
        transition: none;
    }

    @include style-main {
        width:calc(100% - #{$sidebar-width});
        transform: translate3d($sidebar-width, 0, 0);
        -webkit-transition: none;
        transition: none;
    }

    .pushable>.pusher.dimmed:after {
        display:none;
    }
}
